<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="commons/fragments :: header" />

<body class="hold-transition sidebar-mini">
	<div class="wrapper">

		<!-- Navbar -->
		<div th:replace="commons/fragments :: top-nav" />
		<!-- /.navbar -->

		<!-- Main Sidebar Container -->
		<div th:replace="commons/fragments :: aside" />

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">

			<!-- Main content -->
			<div class="content">

				<div class="container-fluid">
				<div th:replace="commons/fragments :: ui-components" />
					<div class="row">
						<!-- /.col-md-6 -->
						<div class="container">
							<div class="col-md-6">
								<div class="card card-primary">
									<div class="card-header">
										<h3 class="card-title">WITHDRAWAL TRANSACTION</h3>
									</div>
									<!-- /.card-header -->
									<form th:action="@{/account/withdraw}" method="POST" role="form">
										<div class="alert alert-success" th:if="${msg}">
											<span th:text="${msg}"></span>
										</div>
										<div class="card-body">
											<div class="form-group">
												<label for="accountType">Select account type you would like to withdraw
													from.</label>
												<select name="accountType" id="accountType" th:value="${accountType}"
													class="form-control">
													<option disabled="disabled" selected="selected">---Select Account
														Type---</option>
													<option value="Primary">Primary</option>
													<option value="Savings">Savings</option>

												</select>
											</div>

											<label>Amount to be withdrawn</label>

											<div class="form-group input-group">


												<div class="input-group-prepend">
													<span class="input-group-text">
														<i class="fas fa-dollar-sign"></i>
													</span>
												</div>
												<input type="text" th:value="${amount}" class="form-control"
													name="amount" id="amount" placeholder="Enter Amount"
													aria-label="Amount(Nearest dollar)">
												<div class="input-group-append">
													<span class="input-group-text">.00</span>
												</div>
											</div>
											<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />


										</div>
										<!-- /.card-body -->

										<div class="card-footer">
											<button type="submit" class="btn btn-primary">Withdraw</button>
										</div>
									</form>
									<!-- /.card-body -->
								</div>
							</div>
						</div>

						<!-- /.col-md-6 -->
					</div>
					<!-- /.row -->
				</div><!-- /.container-fluid -->
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->
		<div th:replace="commons/fragments :: footer" />
	</div>
	<!-- ./wrapper -->

	<!-- REQUIRED SCRIPTS -->

	<div th:replace="commons/fragments :: scripts" />
	<script>
		$(function () {
			$("#dataList").DataTable();
		});

		var addSerialNumber = function () {
			$('table tr').each(function (index) {
				$(this).find('td:nth-child(1)').html(index + 1);
			});
		};

		addSerialNumber();
	</script>
</body>

</html>